<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Book</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Contact Book </h1>
        </header>
        <main>
            <%- body %>
        </main>
        <footer class="footer">
            <p>Built width Node.js .MongoDB</p>
        </footer>
    </div>
</body>
</html>